@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville:wght@400;700&family=Raleway:wght@300;400;500;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');

*,*::after,*::before{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --primary-color: #FDACA9;
}

h1 
    { 
    font-size: 2.2em; 
} 
     
h2 
    { 
    font-size: 2.0em;     
} 
     
h3 
    { 
    font-size: 1.8em; 
} 
     
h4 
    { 
    font-size: 1.6em;     
} 
     
h5 
    { 
    font-size: 1.4em;     
} 
     
p 
    { 
    font-size: 1.2em;     
}

a{
    text-decoration: none;
    color: rgb(0, 0, 0);
    font-size: 16px;
    line-height: 1.5;
    font-weight: 500;
}

img{
    max-width: 100%;
}

body{
    font-family: 'Libre Baskerville', serif;
    position: relative;
    overflow-y: hidden;
}

.bgs{
    position: absolute;
    width: 100%;
    height: 100vh;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1;
}

.bg{
    width: 100%;
    height: 100vh;
}

.bg img{
    object-fit: cover;
    object-position: center 10%;
    width: 100%;
    height: 100%;
}

.slick-current.slick-active .bg img{
    animation: normal 0.2s cubic-bezier(.17,.67,.83,.67) 1;
}

@keyframes normal {
    0%{
        transform: scale(1.1) !important;
    }
    100%{
        transform: scale(1) !important;
    }
}

main{
    width: 100%;
    min-height: 100vh;
    z-index: 2;
    position: relative;
    overflow: hidden;
    /* background-image: url(imgs/bg0.jpg);
    background-color: var(--primary-color);
    background-position: 20% center;
    background-repeat: no-repeat;
    background-size: cover; */
}

.container{
    width: 680px;
    margin-left: auto;
    margin-right: auto;
}

.profile{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 250px;
}

.profile-img{
    width: 100px;
    height: 100px;
    border-radius: 50px;
    overflow: hidden;
}

.profile-img img{
    object-fit: cover;
}

.profile-link{
    word-break: break-all;
    font-family: 'Lobster', cursive;
    font-size: 25px;
}

.social-links{
    display: flex;
    flex-direction: column;
}

.social-link{
    display: flex;
    /* justify-content: space-between; */
    align-items: center;
    background-color: #fff;
    padding: 5px;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
    cursor: pointer;
    transition: cubic-bezier(.17,.67,.83,.67) all;
}

.social-link:hover{
    animation: hover 0.2s cubic-bezier(.17,.67,.83,.67) 1;
}

.social-link-thumb{
    width: 48px;
    height: 48px;
    border-radius: 5px;
    overflow: hidden;
    flex-shrink: 0;
}

.social-link-url-wrapper{
    flex-grow: 1;
    text-align: center;
}

.social-link-url{
    font-weight: bold;
    word-break: break-all;
}

.slick-arrow{
    display: none !important;
}

@keyframes hover {
    0%{
        transform: scale(1);
    }
    50%{
        transform: scale(1.05);
    }
    100%{
        transform: scale(1);
    }
}


/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 700px) {
    .container{
        width: 100%;
        padding-left: 10px;
        padding-right: 10px;
    }
}
/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {

}
/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {

}
/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
    
}
/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {

}